.header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.header a {
  color: rgb(161, 158, 158);
  text-decoration: none;
}

.header a:hover {
  color: #fff;
  text-decoration: none;
}